/*------------------------------------------------------------------------------
/*  @extend in Sass
/*----------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------
/*  Basic syntax in Sass
/*----------------------------------------------------------------------------*/

//.a {
//  @extend .b;
//}

.list {
  color: red;
}

nav ul {
  @extend .list;
  background: blue;
}

/*------------------------------------------------------------------------------
/*  Extend w/ all properties
/*----------------------------------------------------------------------------*/

.error {
  border: 1px #f00;
  background-color: #fdd;
}

.error.intrusion {
  background-image: url(../dummy.jpg);
}

.seriousError {
  @extend .error; // Less needs keyword 'all', Sass doesn't
  border-width: 3px;
}

/*------------------------------------------------------------------------------
/*  Extend w/ nested selectors must be avoided!
/*----------------------------------------------------------------------------*/

//.bucket {
//  tr {
//    color: blue;
//  }
//}
//
//.some-class {
//  @extend .bucket tr; // Error, no nested selector extend in Sass
//  display: block;
//}

/*------------------------------------------------------------------------------
/*  Extend w/ pseudo-selectors
/*----------------------------------------------------------------------------*/

.hoverlink {
  @extend a:hover;
}

a:hover {
  text-decoration: underline;
}

/*------------------------------------------------------------------------------
/*  Multiple extends
/*----------------------------------------------------------------------------*/

.mega-extend {
  @extend .error;
  @extend .list; // Or @extend .error, .list;
  border-width: 3px;
}

/*------------------------------------------------------------------------------
/*  Not visible extend in CSS
/*----------------------------------------------------------------------------*/

#context a%extreme {
  color: blue;
  font-weight: bold;
  font-size: 2em;
}

.notice {
  @extend %extreme;
}

/*------------------------------------------------------------------------------
/*  Optional extends (only in SCSS)
/*----------------------------------------------------------------------------*/

a.important {
  color: #000;
  @extend .notice !optional; // Works only if .notice exists
}

/*------------------------------------------------------------------------------
/*  Extend & @media constructions
/*----------------------------------------------------------------------------*/

.error_02 {
  border: 1px #f00;
  background-color: #fdd;
}

@media print {
  .seriousError {
    // @extend .error_02; // Doesn't work, different context error
    border-width: 3px;
  }
}