/*------------------------------------------------------------------------------
/*  @extend in Sass
/*----------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------
/*  Basic syntax in Sass
/*----------------------------------------------------------------------------*/

//.a {
//  @extend .b;
//}


.list {
  color: red;
}

nav ul {
  @extend .list;
  background: blue;
}

/*------------------------------------------------------------------------------
/*  Extend w/ all properties
/*----------------------------------------------------------------------------*/

.error {
  border: 1px #f00;
  background-color: #fdd;
}
.error.intrusion {
  background-image: url(../dummy.jpg);
}
.seriousError {
  @extend .error;  // В Less нужен был all, тут все по умолчанию
  border-width:3px;
}

/*------------------------------------------------------------------------------
/*  Extend w/ nested selectors
/*----------------------------------------------------------------------------*/

//.bucket {
//  tr {
//    color: blue;
//  }
//}
//
//.some-class {
//  @extend .bucket tr; // невозможно (в Less возможно)
//  display: block;
//}



