/*------------------------------------------------------------------------------
/*  Math operations in Sass
/*----------------------------------------------------------------------------*/

$text-size: 	14px;
$line-height: 	1.4em;
$color: 		#222222;
$border: 		1px;

.class_1 {
	background: 	($color + 2) url(../dummy.jpg) 0 0 no-repeat; // parentheses in complex parameters
	font-size: 		($text-size + 2) / 2; // Group math operations
	line-height: 	ceil(3.4);
	line-height: 	floor(3.4);
	line-height: 	round(1.67);
	// line-height: 	round(1.67, 1); Can't use in Sass
	margin-top: 	min(3px, 42px, 1px, 16px);
	margin-bottom: 	max(3px, 42px, 1px, 16px);
}

.class_2 {
	margin-top: 	4px + 1; //px
	// margin-right: 	4px - 2em; Error: 2nd operand must be w/o units
	margin-bottom: 	4px * 2; // px
	margin-left: 	4px / 2em; // NO evaluation

	border: ($border * 2) solid $color;
}

/*------------------------------------------------------------------------------
/*  Sass Dividing Operation
/*----------------------------------------------------------------------------*/

.class_scss {
	$width: 1000px;

	font: 10px/8px;   // No evaluation
	height: (500px/2);// Explicit evaluation
	width: $width/2;
	margin-left: 5px + 8px/2px; // + is used => Evaluate
}

/*------------------------------------------------------------------------------
/*  Math w/ colors
/*----------------------------------------------------------------------------*/

.color_01 {
	color: rgba(255,0,0,.75) + rgba(0,255,0,.75); // Opacity is not summed
}

.color_02 {
	color: (#888888 / 2); // () for math evaluation
}

.color_03 {
	color: $color + #111;
}



