/*------------------------------------------------------------------------------
/*  :extend pseudo selector
/*  Selector before :extend will inherit properties from (.selector)
/*----------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------
/*  Basic Syntax in Less
/*----------------------------------------------------------------------------*/
.class_a,
.class_b {
  height: 100px;
  width: 20px;
  display: block;
}
.class_b {
  text-decoration: underline;
}
.list-unstyled,
nav ul,
.mega-extend {
  list-style: none;
}
nav ul {
  background: blue;
  margin: 0;
}
/*------------------------------------------------------------------------------
/*  Extend w/ all properties
/*----------------------------------------------------------------------------*/
.error,
.seriousError {
  border: 1px #f00;
  background-color: #fdd;
}
.error:hover,
.seriousError:hover {
  color: #000;
}
.error.intrusion,
.seriousError.intrusion {
  background-image: url(./dummy.jpg);
}
.seriousError {
  border-width: 3px;
}
/*------------------------------------------------------------------------------
/*  Extend w/ nested selectors
/*----------------------------------------------------------------------------*/
.bucket tr,
.some-class {
  color: blue;
}
.some-class {
  display: block;
}
a:hover,
.hoverlink {
  text-decoration: underline;
}
/*------------------------------------------------------------------------------
/*  Multiple extends
/*----------------------------------------------------------------------------*/
.mega-extend {
  background: url(./dummy.jpg);
}
/*------------------------------------------------------------------------------
/*  Extend & @media constructions
/*----------------------------------------------------------------------------*/
@media screen {
}
@media screen and (min-width: 1024px) {
  .selector_in_media_level_2,
  .selector_outside_media {
    color: blue;
  }
}
/*------------------------------------------------------------------------------
/*  Generated selectors don't work w/ extend - must be defined literally
/*----------------------------------------------------------------------------*/
.bucket_1 {
  color: blue;
}
.bucket_1,
.test_class_1 {
  color: blue;
}
.bucket_3,
.test_class_3 {
  color: blue;
}
