/*------------------------------------------------------------------------------
/*  Regular selectors as mixins
/*----------------------------------------------------------------------------*/
.class_1 {
  color: red;
}
.class_1:hover {
  border: 1px solid red;
}
#id_1 {
  display: block;
}
.class_2 {
  color: red;
  display: block;
}
.class_2:hover {
  border: 1px solid red;
}
/*------------------------------------------------------------------------------
/*  Hiding mixins from outputting in CSS using ()
/*----------------------------------------------------------------------------*/
.class_3 {
  display: block;
  color: black;
  display: none;
}
/*------------------------------------------------------------------------------
/*  Namespaces (nested mixins)
/*----------------------------------------------------------------------------*/
.icon_1 {
  background-position: 0 0;
}
.icon_2 {
  background-position: 2px 0;
}
/*------------------------------------------------------------------------------
/*  Using mixin w/o parent selector
/*----------------------------------------------------------------------------*/
.column-1 {
  width: 33.33333333%;
}
.column-2 {
  width: 66.66666667%;
}
.column-3 {
  width: 100%;
}
/*------------------------------------------------------------------------------
/*  !important in mixin will paste itself to each mixed in rule
/*----------------------------------------------------------------------------*/
.class_4 {
  display: block !important;
  color: black !important;
}
/*------------------------------------------------------------------------------
/*  Mixins as Functions (Parametrized), useful for generating buttons
/*----------------------------------------------------------------------------*/
.class_5 {
  width: 50px;
  height: 100px;
}
.class_6 {
  color: #33acac;
  margin: 20px;
  padding: 20px;
}
.class_7 {
  color: red;
  margin: 10px;
  padding: 40px;
}
/*------------------------------------------------------------------------------
/* All arguments in @arguments
/*----------------------------------------------------------------------------*/
.shadow-block {
  box-shadow: 2px 5px 1px #000;
}
/*------------------------------------------------------------------------------
/*  Case in parameters (like constructors)
/*----------------------------------------------------------------------------*/
.class_8 {
  color: #b3b3b3;
  display: block;
}
.class_9 {
  color: #4d4d4d;
  display: block;
}
/*------------------------------------------------------------------------------
/*  Polymorphism
/*----------------------------------------------------------------------------*/
.class_10 {
  color: #fff;
}
.class_11 {
  color: rgba(255, 255, 255, 0.5);
}
