/*------------------------------------------------------------------------------
/*  Mixins as functions, Add variables to a particular context
/*----------------------------------------------------------------------------*/
.caller {
  width: 50px;
  height: 50%;
}
.class_1 {
  padding: 37.5px;
}
/*------------------------------------------------------------------------------
/*  Set of rules in mixins
/*----------------------------------------------------------------------------*/
.class_3 {
  background-color: red;
}
@media screen and (min-width: 800px) {
  .class_3 {
    background-color: blue;
  }
}
html.ie9 .class_3 {
  background-color: blue;
}
/*------------------------------------------------------------------------------
/*  Mixins w/ conditions
/*----------------------------------------------------------------------------*/
.class_4 {
  background-color: white;
  color: #000000;
}
.class_6 {
  background-color: black;
  color: #ffffff;
}
/*------------------------------------------------------------------------------
/*  Compare arguments
/*----------------------------------------------------------------------------*/
.class_7 {
  width: 300px;
}
.class_7-1 {
  width: 300px;
}
/*------------------------------------------------------------------------------
/*  Logic operators (AND, OR, NOT)
/*----------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------
/*  Check variable type
/*----------------------------------------------------------------------------*/
.class_8 {
  display: block;
}
.class_9 {
  content: true;
}
/*------------------------------------------------------------------------------
/* List data type used as arguments for mixin
/*----------------------------------------------------------------------------*/
.class_10 {
  color: #ff0000;
  background-color: #00ff00;
  border-color: #0000ff;
}
