/*------------------------------------------------------------------------------
/*  Nested selectors
/*----------------------------------------------------------------------------*/
.class {
  color: blue;
}
.class a {
  color: green;
}
.class a span {
  color: green;
}
.class__child {
  color: black;
}
.class__child--modifier {
  color: #2B2F38;
}
.class:hover,
.class:focus {
  background-color: #fff;
}
.class + .class {
  margin-top: 10px;
}
.parent .class {
  padding: 0;
}
@media screen and (min-width: 480px) {
  .class {
    padding: 30px;
  }
}
.root .parent .child {
  width: 40px;
}
.parent .child.good {
  width: 20px;
}
/*------------------------------------------------------------------------------
/*  Combinations
/*----------------------------------------------------------------------------*/
p + p,
p + ul,
p + ol,
ul + p,
ul + ul,
ul + ol,
ol + p,
ol + ul,
ol + ol {
  margin-top: 0;
}
