/*------------------------------------------------------------------------------
/*  @extend in Sass
/*----------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------
/*  Basic syntax in Sass
/*----------------------------------------------------------------------------*/
.list, nav ul {
    color: red;
}

nav ul {
    background: blue;
}

/*------------------------------------------------------------------------------
/*  Extend w/ all properties
/*----------------------------------------------------------------------------*/
.error, .seriousError {
    border: 1px #f00;
    background-color: #fdd;
}

.error.intrusion, .intrusion.seriousError {
    background-image: url(./dummy.jpg);
}

.seriousError {
    border-width: 3px;
}

/*------------------------------------------------------------------------------
/*  Extend w/ nested selectors
/*----------------------------------------------------------------------------*/
