/*------------------------------------------------------------------------------
/*  Math operations in Sass
/*----------------------------------------------------------------------------*/
.class_1 {
    background: #242424 url(./dummy.jpg) 0 0 no-repeat;
    font-size: 8px;
    line-height: 4;
    line-height: 3;
    line-height: 2;
    margin-top: 1px;
    margin-bottom: 42px;
}

.class_2 {
    margin-top: 5px;
    margin-bottom: 8px;
    margin-left: 4px / 2em;
    border: 2px solid #222222;
}

/*------------------------------------------------------------------------------
/*  Sass Dividing Operation
/*----------------------------------------------------------------------------*/
.class_scss {
    font: 10px/8px;
    height: 250px;
    width: 500px;
    margin-left: 9px;
}

/*------------------------------------------------------------------------------
/*  Math w/ colors
/*----------------------------------------------------------------------------*/
.color_01 {
    color: rgba(255, 255, 0, 0.75);
}

.color_02 {
    color: #444444;
}

.color_03 {
    color: #333333;
}
