/*------------------------------------------------------------------------------
/*  Common selectors are not working as mixins
/*----------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------
/*  Explicitly define mixin, thus mixin is always hidden in CSS
/*----------------------------------------------------------------------------*/
.class_1 {
  font-size: 20px;
  color: #0000ff;
}

.class_1:hover {
  color: #000;
}

a {
  color: blue;
  background-color: #4d4d4d;
}

/*------------------------------------------------------------------------------
/*  !important is now used in Sass
/*----------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------
/*  Mixins w/ parameters
/*----------------------------------------------------------------------------*/
.class_5 {
  width: 50px;
  height: 100px;
}

.class_6 {
  color: #33acfe;
  margin: 20px;
  padding: 20px;
}

.class_7 {
  color: red;
  margin: 10px;
  padding: 40px;
}

/*------------------------------------------------------------------------------
/*  All arguments interpolated (in Less we can use @arguments instead)
/*----------------------------------------------------------------------------*/
.shadow-block {
  box-shadow: 2px 5px 1px #ff0;
}

/*------------------------------------------------------------------------------
/*  Conditions, argument comparison
/*----------------------------------------------------------------------------*/
.class_8 {
  color: #f7f7f7;
  display: block;
}

.class_9 {
  color: #c4c4c4;
  display: block;
}

/*------------------------------------------------------------------------------
/*  Arrays
/*----------------------------------------------------------------------------*/
.class_10 {
  color: #f00;
  background-color: #0f0;
  border-color: #00f;
}

/*------------------------------------------------------------------------------
/*  Hash table
/*----------------------------------------------------------------------------*/
.class_11 {
  color: #f00;
  background-color: #0f0;
  border-color: #00f;
}
