/*------------------------------------------------------------------------------
/*  :extend pseudo selector
/*  Selector before :extend will inherit properties from (.selector)
/*----------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------
/*  Basic Syntax in Less
/*----------------------------------------------------------------------------*/

.a:extend(.b) {
}

.a {
  &:extend(.b); // The same
}

.class_a {
  height: 100px;
  width: 20px;
  display: block;
}

.class_b {
  &:extend(.class_a); // class_b inherits from class_a
  text-decoration: underline;
}

.list-unstyled {
  list-style: none;
}

nav ul {
  &:extend(.list-unstyled);
  background: blue;
  margin: 0;
}

/*------------------------------------------------------------------------------
/*  Extend w/ all properties
/*----------------------------------------------------------------------------*/

.error {
  border: 1px #f00;
  background-color: #fdd;

  &:hover {
    color: #000;
  }
}

.error.intrusion {
  background-image: url(../dummy.jpg);
}

// Keyword 'all' indicates Less to inherit all nested/pseudo selectors like :hover {} + __.intrusion {}
.seriousError {
  &:extend(.error all); // in SCSS we don't use 'all' because it's already there
  border-width: 3px;
}

/*------------------------------------------------------------------------------
/*  Extend w/ nested selectors
/*----------------------------------------------------------------------------*/

.bucket {
  tr {
    color: blue;
  }
}

.some-class:extend(.bucket tr) { // Inherit from 1+ selectors
  display: block;
}

.hoverlink {
  &:extend(a:hover); // We can specify particular state
}

a:hover {
  text-decoration: underline;
}

/*------------------------------------------------------------------------------
/*  Multiple extends
/*----------------------------------------------------------------------------*/

.mega-extend {
  &:extend(.class all, .list-unstyled);
  background: url("../dummy.jpg");
}

/*------------------------------------------------------------------------------
/*  Extend & @media constructions
/*----------------------------------------------------------------------------*/

@media screen {
  // extends in different @media contexts are not working
  .selector_in_media_level_1:extend(.selector_in_media_level_2) {}

  @media (min-width: 1024px) {
    .selector_in_media_level_2 {
      color: blue;
    }
  }
}

.selector_outside_media:extend(.selector_in_media_level_2) {}

/*------------------------------------------------------------------------------
/*  Generated selectors don't work w/ extend - must be defined literally
/*----------------------------------------------------------------------------*/

@variable_1: .bucket_1;

@{variable_1} {
  color: blue;
}

.test_class_1:extend(.bucket_1) {
}

// Error: there is no .bucket_1 selector

// After this define - works
.bucket_1 {
  color: blue;
}

@variable_2: .bucket_2;

.test_class_2:extend(@{variable_2}) {
}

// Error

.bucket_3 {
  color: blue;
}

@variable: .test_class_3;

@{variable}:extend(.bucket_3) {
}

// Works